<%= content_for :page_title do %>
  Management Duty - Dashboard
<%end%>

<%= content_for :breadcrumb do %>
  <a class="breadcrumb-item" href="index">Exchanges</a>
  <span class="breadcrumb-item active">Pendent</span>
<%end%>

<%= content_for :body_title do %>
  Trocas pendentes
<%end%>

<%= content_for :body_description do %>
  Lista de trocas
<%end%>

<%= content_for :section_title do %>

  <% if @shift_exchanges.count == 0%>
    Nenhuma troca pendente
  <% end %>
  <% if @shift_exchanges.count != 0%>
    Todas as trocas foram aprovadas pelos usuários
  <% end %>
<%end%>

<%= content_for :section_description do %>

<% @shift_exchanges.each do |my_pending_shifts| %>

  <div class="media-list   rounded shadow-base mt-2">
    <div class="media pd-20 pd-xs-30">

      <div class="media-body mg-l-20">
        <div class="d-flex justify-content-between mg-b-10">
          <div>
            <h6 class="mg-b-2 tx-inverse tx-14">Solicitação de troca de turno</h6>
          </div>
          <span class="tx-12">Requested at: <%= my_pending_shifts.updated_at %></span>
        </div><!-- d-flex -->
        <p class="mg-b-20">
          <% @my_requested_shift = Shift.find(my_pending_shifts.requested_shift_id)%>
          <% @my_given_up_shift = Shift.find(my_pending_shifts.given_up_shift_id)%>
            <p> Seu turno: </p>
          <div class="form-group col-sm-6">
              <div class="input-group date" data-target-input="nearest">
                  <input type="text" value='<%=" #{@my_requested_shift.starts_at.strftime("%m/%d/%Y %I:%M %p")}"%>' class="form-control datetimepicker-input" disabled/>
                  <div class="input-group-append" >
                      <div class="input-group-text ml-2 mt-2"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
          <div class="form-group col-sm-6">
              <div class="input-group date" data-target-input="nearest">
                  <input type="text" value='<%=" #{@my_requested_shift.ends_at.strftime("%m/%d/%Y %I:%M %p")}"%>' class="form-control datetimepicker-input" disabled/>
                  <div class="input-group-append" >
                      <div class="input-group-text ml-2 mt-2"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
          <p> Turno oferecido: </p>
          <div class="form-group col-sm-6">
              <div class="input-group date" data-target-input="nearest">
                  <input type="text" value='<%=" #{@my_given_up_shift.starts_at.strftime("%m/%d/%Y %I:%M %p")}"%>' class="form-control datetimepicker-input" disabled/>
                  <div class="input-group-append" >
                      <div class="input-group-text ml-2 mt-2"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
          <div class="form-group col-sm-6">
              <div class="input-group date" data-target-input="nearest">
                  <input type="text" value='<%=" #{@my_given_up_shift.ends_at.strftime("%m/%d/%Y %I:%M %p")}"%>' class="form-control datetimepicker-input" disabled/>
                  <div class="input-group-append" >
                      <div class="input-group-text ml-2 mt-2"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>

          <div class="media-body mg-l-20 align-items-center justify-content-center d-flex">
            <%= form_tag(admins_exchenge_approve_path, method: "put") do |f| %>
              <input type="text" name="id"  value='<%="#{my_pending_shifts.id}"%>' id="given_up_shift_id" style="display: none" />
              <button class="btn btn-info btn-sm" type="submit">Aprovar</button>
            <% end %>
            <%= form_tag(admins_exchenge_refuse_path, method: "put") do |f| %>
              <input type="text" name="id"  value='<%="#{my_pending_shifts.id}"%>' id="given_up_shift_id" style="display: none" />
              <button class="btn btn-danger btn-sm ml-2" type="submit">Reprovar</button>
            <% end %>
          </div>

        </p>
      </div><!-- media-body -->
    </div><!-- media -->
  </div><!-- card -->

<%end%>

<%end%>
