<%= content_for :form_title do %>
  Log in
<% end %>

<%= content_for :form_description do %>
  Welcome back!
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div style="color: red">
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: :email %>
  </div>

  <div class="field mt-2">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field mt-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-info btn-block' %>
  </div>
<% end %>
<div class="mt-2">
<%= link_to('Forgot your password?', new_user_password_path, :class => "login-link") %>
</div>
<%= content_for :content_title do %>
  Welcome back to Management Duty!
<% end %>

<%= content_for :content_description do %>
  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
  in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
  deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit
  amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus
  scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.
<% end %>
