<% if @search_collaborators%>
  <table class="table mg-b-0 table-contact">
    <thead>
      <tr>
        <th class="wd-5p">
          <label class="ckbox mg-b-0">
            <input type="checkbox"><span></span>
          </label>
        </th>
        <th class="tx-10-force tx-mont tx-medium">Name / Email</th>
        <th class="tx-10-force tx-mont tx-medium hidden-xs-down">ROLE</th>
        <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Convidado em</th>
        <th class="wd-5p hidden-xs-down"></th>
      </tr>
    </thead>
    <tbody>
      <% @search_collaborators.each do |collaborator| %>
        <tr>
          <td class="valign-middle">
            <label class="ckbox mg-b-0">
              <input type="checkbox"><span></span>
            </label>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <%= image_tag('user.png', :class => 'wd-32 rounded-circle', :all => '') %>
              <div class="mg-l-15">
                <div class="tx-inverse">
                  <%= link_to(collaborator.name, user_show_path(collaborator.id), class: 'nav-link') %>
                </div>
                <span class="tx-12 ml-3"><%= collaborator.email %></span>
              </div>
            </div>
          </td>
          <td class="valign-middle hidden-xs-down"><%= collaborator.role %></td>
          <td class="valign-middle hidden-xs-down"><%= collaborator.invitation_sent_at.strftime('%d %b %y - %H:%M:%S') %></td>
          <td class="dropdown hidden-xs-down">
            <a href="page-contacts.html#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
            <div class="dropdown-menu dropdown-menu-right pd-10">
              <nav class="nav nav-style-1 flex-column">
                <%= link_to('Visualizar', user_show_path(collaborator.id), class: 'nav-link') %>
              </nav>
            </div><!-- dropdown-menu -->
          </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
