<%= content_for :section_description do %>

<div class="br-mainpanel br-profile-page">
  <!-- Profile information -->

  <div class="card shadow-base bd-0 rounded-0 widget-4">
    <div class="card-header ht-75">
      <div class="hidden-xs-down">
        <a href="" class="mg-r-10"><span class="tx-medium">0</span> Followers</a>
        <a href=""><span class="tx-medium">0</span> Following</a>
      </div>
      <div class="tx-24 hidden-xs-down">
        <a href="" class="mg-r-10"><i class="icon ion-ios-email-outline"></i></a>
        <a href=""><i class="icon ion-more"></i></a>
      </div>
    </div><!-- card-header -->
    <div class="card-body">
      <div class="card-profile-img">
        <%= image_tag('user.png', :all => '') %>
      </div><!-- card-profile-img -->
      <h4 class="tx-normal tx-roboto tx-white"><%= @user.name %></h4>
      <p class="mg-b-25"><%= @user.role %><br/><%= @user.email %></p>
      <p class="wd-md-500 mg-md-l-auto mg-md-r-auto mg-b-25">Singer, Lawyer, Achiever, Wearer of unrelated hats, Data Visualizer, Mayonaise Tester. I don't know what alt-tab does. Storyteller.</p>

      <p class="mg-b-0 tx-24">
        <a href="" class="tx-white-8 mg-r-5"><i class="fa fa-facebook-official"></i></a>
        <a href="" class="tx-white-8 mg-r-5"><i class="fa fa-twitter"></i></a>
        <a href="" class="tx-white-8 mg-r-5"><i class="fa fa-pinterest"></i></a>
        <a href="" class="tx-white-8"><i class="fa fa-instagram"></i></a>
      </p>
    </div>
  </div>

  <!-- END Profile information  -->

  <div class="ht-70 bg-gray-100 pd-x-20 d-flex align-items-center justify-content-center shadow-base">
    <ul class="nav nav-outline active-info align-items-center flex-row" role="tablist">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#shifts" role="tab">Turnos</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#solicitations" role="tab">Solicitações de troca</a></li>
    </ul>
  </div>

  <% if current_user %>
    <%= render "users/shared/show_user_user" %>
  <% end %>
  <% if current_admin %>
    <%= render "users/shared/show_user_admin" %>
  <% end %>

=======
  </div>

<%end%>
